
.welcome-jumbo{
  transform: translate3d(300px, 0, 0);
  max-width: calc(100vw - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(191,38,61); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(191,38,61,1) 46%, rgba(229,45,76,1) 85%, rgba(191,38,61,1) 100%, rgba(191,38,61,1) 100%, rgba(191,38,61,1) 101%, rgba(191,38,61,1) 101%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(191,38,61,1) 46%,rgba(229,45,76,1) 85%,rgba(191,38,61,1) 100%,rgba(191,38,61,1) 100%,rgba(191,38,61,1) 101%,rgba(191,38,61,1) 101%); /* Chrome10-25,Safari5.1-6 */
  overflow: hidden;
  padding: 100px;
  .status{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background: black;
    border-radius: 5px;
    align-self: flex-start;
    margin-bottom: 20px;
  }
  h1{
    font-size: 4rem;
    font-weight: 900;
    align-self: flex-start;
    color: white;
    margin-bottom: 100px;
  }
  .burger-image{
    width: 100%;
    max-width: 1000px;
    img{
      width: 100%;
      animation: moveUpandDown 3s linear infinite;
      position: relative;
    }
    @keyframes moveUpandDown{
      0%, 100%{
        bottom: 0;
      }
      50%{
        bottom: 30px;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .side-menu{

  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
